extends layouts/default

block content
    .left-column
        .overlay
            h2 Заполните поля формы
            form
                input#in-name(type="text", placeholder="ФИО в родительном падеже")
                .help-inline
                input#in-faculty(type="text", placeholder="Факультет")
                .help-inline
                input#in-course(type="text", placeholder="Курс")
                .help-inline
                textarea#in-statement(placeholder="Заявление")
                .help-inline
                input#in-date(type="text", placeholder="Дата")
                .help-inline
                input#save(type="button", value="Сохранить")

    .right-column
        .overlay.document
            .appeal
                p.
                    Ректору ТвГУ <br/>
                    Белоцерковскому А.В. <br/>
                    студента(ки) <strong id="out-course"></strong> курса <br/>
                    <strong id="out-faculty"></strong> факультета <br/>
                    <strong id="out-name"></strong>

            .statement
                h2 Заявление
                p#out-statement

            .date
                date#out-date